.segment {
    height: 100vh;
    width: 100%;
    background-color:aquamarine;
}

.divide {
    height: 50vh;
    width: 100%;
}

#hero {
    background-image: url('resources/images/hero%20header.png');
    background-size: auto 100vh;
    background-position: center;
}

.bpblue-text {
    color: #21A1EC;
}

#nav-mobile>li>a {
    color: #21A1EC;
}

#voice-circle {
    width: 30%;
    height: auto;
}

.hero-btn {
    margin: 10px;
    width: 300px;
}

#hero-content {
    width: 100%;
    height: 100vh;
}

#hero-child {
    width: 100%;
}
